SUPABASE_URL=
SUPABASE_KEY=
NUXT_PUBLIC_SUPABASE_URL=
NUXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
API_FOOTBALL_KEY=
NUXT_API_FOOTBALL_KEY=
NUXT_FOOTBALL_DATA_KEY=
NUXT_THESPORTSDB_API_KEY=123
WORLDCUP26_API_BASE_URL=https://worldcup26.ir
WORLDCUP26_API_TOKEN=
